/*whole width = 470px*/
#first_rectangle{
  width: 165px;
  height: 40px;
  background-color: lightgray;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}

#second_rectangle{
  width: 160px;
  height:40px;
  background-color: rgb(223, 223, 125);
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  position: relative;
  left:170px;
  top:-45px;
}

#third_rectangle{
  width: 80px;
  height: 95px;
  background-color: rgb(61, 61, 61);
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  position: relative;
  left: 340px;
  top: -90px;
}

#fourth_rectangle{
  width: 20px;
  height: 155px;
  background-color: lightgray;
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  position: relative;
  top: -145px;
}

#fifth_rectangle{
  width: 305px;
  height: 305px;
  background-color: lightgray;
  border: 5px solid black;
  position: relative;
  left: 25px;
  top: -310px;
}

#sixth_rectangle{
  width: 20px;
  height: 140px;
  background-color: blue;
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  position: relative;
  top: -460px;
}

#seventh_rectangle{
  width: 80px;
  height: 310px;
  background-color: lightgray;
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  position: relative;
  top: -720px;
  left: 340px;
}

#eighth_rectangle{
  width: 335px;
  height: 80px;
  background-color: lightgray;
  border-top: 5px solid black;
  border-right: 5px solid black;
  position: relative;
  top: -780px;
}

#ninth_rectangle{
  width: 80px;
  height: 20px;
  background-color: orange;
  border-top: 5px solid black;
  border-left: 5px solid black;
  position: relative;
  top: -805px;
  left: 340px;
}